*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parent{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar p{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.navbar{
    position: relative;
}

.footer{
    background-color: black;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}

.main{
    flex: 1;
    display: flex;
    gap: 3rem;
    background-color: rgba(255, 244, 244, 0.72);
}

.left{
    margin: 2rem;
    border: 2px solid black;
    box-shadow: 5px 5px brown;
    border-radius: 0.3rem;
    padding: 1rem;
    height: fit-content;
    width: 33%;
}

.btn1{
    margin: .5rem 0;
    font-size: 1.4rem;
    padding: 1rem;
    width: 100%;
    background-color: rgb(63, 63, 255);
    color: white;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn1:hover{
    transform: scale(1.01); 
    cursor: pointer;
}

.btn1:active{
    background-color: rgb(39, 39, 163);
}

.controls{
    margin: 1rem 0;
}

p{
    margin: 1rem 1rem;
    font-size: 1.2rem;
}

input[type="text"]{
    border-radius: 1rem;
    padding: 0.1rem 1rem;
    font-size: 1.1rem;
    background-color: white;
    margin: 0 1rem;
}

.btn{
    padding: .2rem .5rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    width: 7rem;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color:transparent;
}

.btn-s{
    display: flex;
    justify-content: end;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1); 
    transition: 200ms;
}

.start:hover{
    color: green;
    border: 2px solid green;
}

.reset:hover{
    color: red;
    border: 2px solid red;
}

.rightSide{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 3rem;
}

.square{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 10rem;
    border: 1px solid black;
    width: 200px;
    height:200px;
}

.square:hover{
    cursor: pointer;
}

.msg{
    position: absolute;
    font-size: 3rem;
    color: blue;
    left: 50%;
    top: 50%;
    background-color: white;
    border: 2px solid black;
    border-radius: .3rem;
    width: 25rem;
    text-align: center;
    padding: 1rem;
}